:root {
   --real-au: 152.1px;
   --neptune-real-circuit-size: 8951px; /* px ~ million km */

   --orbit-base-time: 0.08s;
   --scale: 3;
   --moon-distance-multiplier: 100;
   --au: calc(var(--scale) * var(--real-au));
   --planets-magnifier: calc(var(--scale) * 1000);
   --sun-magnifier: calc(var(--scale) * 50);

   --mercury-circuit-size: calc(var(--au) * 0.4);
   --venus-circuit-size: calc(var(--au) * 0.7);
   --earth-circuit-size: var(--au);
   --moon-circuit-size: calc(var(--au) * 0.0025 * --moon-distance-multiplier);
   --mars-circuit-size: calc(var(--au) * 1.5);
   --jupiter-circuit-size: calc(var(--au) * 5.2);
   --saturn-circuit-size: calc(var(--au) * 9.5);
   --uranus-circuit-size: calc(var(--au) * 19.2);
   --neptune-circuit-size: calc(var(--au) * 30.1);

   --sun-size: calc(0.696px * var(--sun-magnifier));
   --mercury-orbit-duration: calc(115.88 * var(--orbit-base-time));
   --venus-orbit-duration: calc(224.7 * var(--orbit-base-time));
   --earth-orbit-duration: calc(365.25 * var(--orbit-base-time));
   --mars-orbit-duration: calc(779.96 * var(--orbit-base-time));
   --jupiter-orbit-duration: calc(398.88 * var(--orbit-base-time));
   --saturn-orbit-duration: calc(378.09 * var(--orbit-base-time));
   --uranus-orbit-duration: calc(369.66 * var(--orbit-base-time));
   --neptune-orbit-duration: calc(367.49 * var(--orbit-base-time));

   --sun-color: #f5ea6f;
   --mercury-color: #737077;
   --venus-color: #edd7bf;
   --earth-color: #4fa2f5;
   --mars-color: #f4845e;
   --jupiter-color: #ab8b74;
   --saturn-color: #e1be78;
   --uranus-color: #c6ecf0;
   --neptune-color: #3347b4;

   --mercury-size: calc(0.00488px * var(--planets-magnifier));
   --venus-size: calc(0.0121px * var(--planets-magnifier));
   --earth-size: calc(0.012742px * var(--planets-magnifier));
   --moon-size: calc(0.00347px * var(--planets-magnifier));
   --mars-size: calc(0.00678px * var(--planets-magnifier));
   --jupiter-size: 60px;
   --saturn-size: 40px;
   --uranus-size: 40px;
   --neptune-size: 30px;
}

body {
   width: 100%;
   margin: 0 auto;
   height: 100vh;
   background: radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%);
   overflow-y: hidden;
}

.sun {
   /* background-color: var(--sun-color); */
   background-image: url('http://assets.stickpng.com/images/580b585b2edbce24c47b270f.png');
   background-size: contain;
   width: var(--sun-size);
   height: var(--sun-size);
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* box-shadow: 0 0 15px 5px yellow; */
}

.circuit {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* border: 1px solid rgb(255, 255, 255, 0.2); */
   border-radius: 50%;
   animation-name: orbit;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.circuit::before {
   content: '';
   border-radius: 50%;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

@keyframes orbit {
   from {
      transform: translate(-50%, -50%) rotate(0);
   }
   to {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

.mercury {
   width: var(--mercury-circuit-size);
   height: var(--mercury-circuit-size);
   animation-duration: var(--mercury-orbit-duration);
}

.mercury::before {
   /* background-color: var(--mercury-color); */
   background-image: url('https://i0.wp.com/freepngimages.com/wp-content/uploads/2016/05/planet-mercury-transparent-background.png?fit=680%2C680');
   background-size: cover;
   width: var(--mercury-size);
   height: var(--mercury-size);
   top: calc(var(--mercury-size) / -2);
   box-shadow: inset 0 6px 0 -1.5px rgb(0 0 0 / 55%);
}

.venus {
   width: var(--venus-circuit-size);
   height: var(--venus-circuit-size);
   animation-duration: var(--venus-orbit-duration);
}

.venus::before {
   /* background-color: var(--venus-color); */
   background-image: url('https://www.nicepng.com/png/detail/4-43998_planet-venus-planet-no-background.png');
   background-size: cover;
   width: var(--venus-size);
   height: var(--venus-size);
   top: calc(var(--venus-size) / -2);
   box-shadow: inset 0 16px 0 -5px rgb(0 0 0 / 55%);
}

.earth {
   width: var(--earth-circuit-size);
   height: var(--earth-circuit-size);
   animation-duration: var(--earth-orbit-duration);
}

.earth::before {
   /* background-color: var(--earth-color); */
   background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/22/Earth_Western_Hemisphere_transparent_background.png');
   background-size: cover;
   width: var(--earth-size);
   height: var(--earth-size);
   top: calc(var(--earth-size) / -2);
   box-shadow: inset 0 19px 0 -7px rgb(0 0 0 / 55%);
}

/* moon */
.earth::after {
   position: absolute;
   content: '';
   height: var(--moon-size);
   width: var(--moon-size);
   left: 50%;
   top: 0px;
   border-radius: 100px;
   box-shadow: 0 -30px 0 0 grey;
   animation: orbit 2.6s linear infinite;
}

.mars {
   width: var(--mars-circuit-size);
   height: var(--mars-circuit-size);
   animation-duration: var(--mars-orbit-duration);
}

.mars::before {
   /* background-color: var(--mars-color); */
   background-image: url('https://www.pngkey.com/png/full/473-4735187_planet-mars-mars-transparent-background.png');
   background-size: cover;
   width: var(--mars-size);
   height: var(--mars-size);
   top: calc(var(--mars-size) / -2);
   box-shadow: inset 0 9px 0 -2px rgb(0 0 0 / 55%);
}

.jupiter {
   width: var(--jupiter-circuit-size);
   height: var(--jupiter-circuit-size);
   animation-duration: var(--jupiter-orbit-duration);
}

.jupiter::before {
   background-color: var(--jupiter-color);
   width: var(--jupiter-size);
   height: var(--jupiter-size);
   top: calc(var(--jupiter-size) / -2);
}

.saturn {
   width: var(--saturn-circuit-size);
   height: var(--saturn-circuit-size);
   animation-duration: var(--saturn-orbit-duration);
}

.saturn::before {
   background-color: var(--saturn-color);
   width: var(--saturn-size);
   height: var(--saturn-size);
   top: calc(var(--saturn-size) / -2);
}

.uranus {
   width: var(--uranus-circuit-size);
   height: var(--uranus-circuit-size);
   animation-duration: var(--uranus-orbit-duration);
}

.uranus::before {
   background-color: var(--uranus-color);
   width: var(--uranus-size);
   height: var(--uranus-size);
   top: calc(var(--uranus-size) / -2);
}

.neptune {
   width: var(--neptune-circuit-size);
   height: var(--neptune-circuit-size);
   animation-duration: var(--neptune-orbit-duration);
}

.neptune::before {
   background-color: var(--neptune-color);
   width: var(--neptune-size);
   height: var(--neptune-size);
   top: calc(var(--neptune-size) / -2);
}

/* background stars */
body::after {
   content: '';
   position: absolute;
   height: 2px;
   width: 2px;
   top: -2px;
   left: 50px;
   box-shadow: 735px 1472px 0 0px rgb(255 255 255 / 79%),
      1718px 1715px 0 0px rgb(255 255 255 / 11%),
      1438px 1516px 0 0px rgb(255 255 255 / 40%),
      630px 637px 0 0px rgb(255 255 255 / 83%),
      1159px 696px 0 0px rgb(255 255 255 / 76%),
      1166px 829px 0 0px rgb(255 255 255 / 69%),
      1174px 278px 0 0px rgb(255 255 255 / 61%),
      1349px 717px 0 0px rgb(255 255 255 / 80%),
      137px 281px 0 0px rgb(255 255 255 / 65%),
      293px 1283px 0 0px rgb(255 255 255 / 7%),
      1269px 878px 0 0px rgb(255 255 255 / 48%),
      680px 447px 0 0px rgb(255 255 255 / 62%),
      698px 715px 0 0px rgb(255 255 255 / 66%),
      1136px 170px 0 0px rgb(255 255 255 / 80%),
      1511px 593px 0 0px rgb(255 255 255 / 36%),
      1632px 622px 0 0px rgb(255 255 255 / 47%),
      844px 842px 0 0px rgb(255 255 255 / 76%),
      1258px 1110px 0 0px rgb(255 255 255 / 91%),
      1092px 118px 0 0px rgb(255 255 255 / 70%),
      855px 737px 0 0px rgb(255 255 255 / 81%),
      530px 808px 0 0px rgb(255 255 255 / 31%),
      467px 59px 0 0px rgb(255 255 255 / 51%),
      951px 872px 0 0px rgb(255 255 255 / 65%),
      305px 698px 0 0px rgb(255 255 255 / 38%),
      105px 478px 0 0px rgb(255 255 255 / 48%),
      87px 31px 0 0px rgb(255 255 255 / 79%),
      336px 877px 0 0px rgb(255 255 255 / 78%),
      367px 380px 0 0px rgb(255 255 255 / 54%),
      388px 1686px 0 0px rgb(255 255 255 / 99%),
      1569px 581px 0 0px rgb(255 255 255 / 96%),
      619px 39px 0 0px rgb(255 255 255 / 14%),
      1546px 379px 0 0px rgb(255 255 255 / 14%),
      211px 1454px 0 0px rgb(255 255 255 / 46%),
      860px 789px 0 0px rgb(255 255 255 / 28%),
      179px 712px 0 0px rgb(255 255 255 / 95%),
      227px 343px 0 0px rgb(255 255 255 / 35%),
      1691px 174px 0 0px rgb(255 255 255 / 28%),
      1492px 299px 0 0px rgb(255 255 255 / 92%),
      284px 895px 0 0px rgb(255 255 255 / 68%),
      1008px 1438px 0 0px rgb(255 255 255 / 64%),
      1214px 1756px 0 0px rgb(255 255 255 / 61%),
      385px 639px 0 0px rgb(255 255 255 / 73%),
      1457px 1254px 0 0px rgb(255 255 255 / 40%),
      851px 94px 0 0px rgb(255 255 255 / 90%),
      220px 1338px 0 0px rgb(255 255 255 / 97%),
      1386px 1554px 0 0px rgb(255 255 255 / 2%),
      1115px 1058px 0 0px rgb(255 255 255 / 77%),
      1061px 1787px 0 0px rgb(255 255 255 / 67%),
      1232px 358px 0 0px rgb(255 255 255 / 52%),
      746px 723px 0 0px rgb(255 255 255 / 30%),
      1348px 1096px 0 0px rgb(255 255 255 / 66%),
      1228px 1378px 0 0px rgb(255 255 255 / 75%),
      1754px 66px 0 0px rgb(255 255 255 / 58%),
      615px 239px 0 0px rgb(255 255 255 / 84%),
      321px 489px 0 0px rgb(255 255 255 / 76%),
      1154px 566px 0 0px rgb(255 255 255 / 18%),
      1511px 369px 0 0px rgb(255 255 255 / 95%),
      958px 1136px 0 0px rgb(255 255 255 / 30%),
      1573px 984px 0 0px rgb(255 255 255 / 32%),
      1625px 273px 0 0px rgb(255 255 255 / 84%),
      1283px 902px 0 0px rgb(255 255 255 / 70%),
      1793px 549px 0 0px rgb(255 255 255 / 22%),
      497px 862px 0 0px rgb(255 255 255 / 75%),
      231px 136px 0 0px rgb(255 255 255 / 40%),
      1071px 1483px 0 0px rgb(255 255 255 / 90%),
      1705px 86px 0 0px rgb(255 255 255 / 34%),
      711px 1560px 0 0px rgb(255 255 255 / 5%),
      479px 1090px 0 0px rgb(255 255 255 / 100%),
      522px 860px 0 0px rgb(255 255 255 / 5%),
      1587px 1412px 0 0px rgb(255 255 255 / 52%),
      956px 1429px 0 0px rgb(255 255 255 / 46%),
      1519px 1198px 0 0px rgb(255 255 255 / 2%),
      152px 1660px 0 0px rgb(255 255 255 / 49%),
      1030px 791px 0 0px rgb(255 255 255 / 63%),
      395px 279px 0 0px rgb(255 255 255 / 27%),
      1048px 1027px 0 0px rgb(255 255 255 / 36%),
      393px 710px 0 0px rgb(255 255 255 / 99%),
      1376px 827px 0 0px rgb(255 255 255 / 93%),
      1389px 674px 0 0px rgb(255 255 255 / 98%),
      291px 1022px 0 0px rgb(255 255 255 / 0%),
      1569px 478px 0 0px rgb(255 255 255 / 23%),
      1547px 117px 0 0px rgb(255 255 255 / 11%),
      1355px 716px 0 0px rgb(255 255 255 / 75%),
      1257px 1644px 0 0px rgb(255 255 255 / 64%),
      733px 551px 0 0px rgb(255 255 255 / 89%),
      711px 86px 0 0px rgb(255 255 255 / 57%),
      323px 541px 0 0px rgb(255 255 255 / 50%),
      1329px 467px 0 0px rgb(255 255 255 / 65%),
      1229px 1182px 0 0px rgb(255 255 255 / 29%),
      891px 257px 0 0px rgb(255 255 255 / 90%),
      182px 256px 0 0px rgb(255 255 255 / 90%),
      788px 610px 0 0px rgb(255 255 255 / 37%),
      1397px 1664px 0 0px rgb(255 255 255 / 20%),
      1266px 491px 0 0px rgb(255 255 255 / 59%),
      895px 674px 0 0px rgb(255 255 255 / 33%),
      66px 1007px 0 0px rgb(255 255 255 / 94%),
      1323px 434px 0 0px rgb(255 255 255 / 12%),
      1577px 514px 0 0px rgb(255 255 255 / 2%),
      1477px 35px 0 0px rgb(255 255 255 / 62%),
      1679px 910px 0 0px rgb(255 255 255 / 48%),
      766px 324px 0 0px rgb(255 255 255 / 91%),
      1094px 1637px 0 0px rgb(255 255 255 / 92%),
      126px 1051px 0 0px rgb(255 255 255 / 26%),
      1237px 181px 0 0px rgb(255 255 255 / 36%),
      1051px 1267px 0 0px rgb(255 255 255 / 97%),
      898px 21px 0 0px rgb(255 255 255 / 91%),
      546px 1524px 0 0px rgb(255 255 255 / 88%),
      1197px 897px 0 0px rgb(255 255 255 / 94%),
      1622px 468px 0 0px rgb(255 255 255 / 87%),
      43px 449px 0 0px rgb(255 255 255 / 38%),
      1793px 1583px 0 0px rgb(255 255 255 / 44%),
      424px 1342px 0 0px rgb(255 255 255 / 53%),
      944px 1607px 0 0px rgb(255 255 255 / 70%),
      970px 1261px 0 0px rgb(255 255 255 / 44%),
      772px 1498px 0 0px rgb(255 255 255 / 34%),
      448px 59px 0 0px rgb(255 255 255 / 69%),
      1501px 144px 0 0px rgb(255 255 255 / 61%),
      1754px 1134px 0 0px rgb(255 255 255 / 75%),
      301px 428px 0 0px rgb(255 255 255 / 8%),
      31px 884px 0 0px rgb(255 255 255 / 57%),
      1645px 753px 0 0px rgb(255 255 255 / 70%),
      327px 615px 0 0px rgb(255 255 255 / 27%),
      1666px 176px 0 0px rgb(255 255 255 / 81%),
      579px 578px 0 0px rgb(255 255 255 / 43%),
      832px 559px 0 0px rgb(255 255 255 / 2%),
      305px 1658px 0 0px rgb(255 255 255 / 52%),
      958px 333px 0 0px rgb(255 255 255 / 41%),
      1475px 815px 0 0px rgb(255 255 255 / 56%),
      685px 823px 0 0px rgb(255 255 255 / 11%),
      209px 1457px 0 0px rgb(255 255 255 / 22%),
      1310px 273px 0 0px rgb(255 255 255 / 48%),
      197px 1450px 0 0px rgb(255 255 255 / 10%),
      312px 1624px 0 0px rgb(255 255 255 / 5%),
      291px 1620px 0 0px rgb(255 255 255 / 93%),
      920px 107px 0 0px rgb(255 255 255 / 89%),
      1778px 1441px 0 0px rgb(255 255 255 / 19%),
      1670px 256px 0 0px rgb(255 255 255 / 95%),
      341px 1710px 0 0px rgb(255 255 255 / 33%),
      1311px 852px 0 0px rgb(255 255 255 / 60%),
      1301px 1296px 0 0px rgb(255 255 255 / 67%),
      1508px 656px 0 0px rgb(255 255 255 / 10%),
      1292px 753px 0 0px rgb(255 255 255 / 60%),
      780px 311px 0 0px rgb(255 255 255 / 70%),
      1673px 1750px 0 0px rgb(255 255 255 / 84%),
      772px 849px 0 0px rgb(255 255 255 / 80%),
      1644px 910px 0 0px rgb(255 255 255 / 3%),
      1520px 111px 0 0px rgb(255 255 255 / 92%),
      1385px 1011px 0 0px rgb(255 255 255 / 1%),
      1437px 692px 0 0px rgb(255 255 255 / 20%),
      1578px 540px 0 0px rgb(255 255 255 / 61%),
      627px 940px 0 0px rgb(255 255 255 / 32%),
      520px 285px 0 0px rgb(255 255 255 / 25%),
      97px 794px 0 0px rgb(255 255 255 / 84%),
      1355px 410px 0 0px rgb(255 255 255 / 67%),
      1120px 1306px 0 0px rgb(255 255 255 / 82%),
      1621px 429px 0 0px rgb(255 255 255 / 11%),
      1021px 1399px 0 0px rgb(255 255 255 / 93%),
      861px 1665px 0 0px rgb(255 255 255 / 29%),
      1431px 1743px 0 0px rgb(255 255 255 / 92%),
      771px 713px 0 0px rgb(255 255 255 / 91%),
      487px 452px 0 0px rgb(255 255 255 / 22%),
      977px 695px 0 0px rgb(255 255 255 / 62%),
      145px 1762px 0 0px rgb(255 255 255 / 87%),
      1552px 1373px 0 0px rgb(255 255 255 / 23%),
      527px 1294px 0 0px rgb(255 255 255 / 9%),
      337px 259px 0 0px rgb(255 255 255 / 77%),
      14px 1247px 0 0px rgb(255 255 255 / 80%),
      948px 610px 0 0px rgb(255 255 255 / 10%),
      119px 473px 0 0px rgb(255 255 255 / 85%),
      1522px 1385px 0 0px rgb(255 255 255 / 1%),
      115px 1525px 0 0px rgb(255 255 255 / 22%),
      1698px 21px 0 0px rgb(255 255 255 / 4%),
      653px 256px 0 0px rgb(255 255 255 / 28%),
      605px 758px 0 0px rgb(255 255 255 / 36%),
      192px 965px 0 0px rgb(255 255 255 / 99%),
      1226px 657px 0 0px rgb(255 255 255 / 53%),
      952px 1289px 0 0px rgb(255 255 255 / 69%),
      1608px 188px 0 0px rgb(255 255 255 / 85%),
      1265px 1579px 0 0px rgb(255 255 255 / 82%),
      1607px 1555px 0 0px rgb(255 255 255 / 48%),
      322px 1135px 0 0px rgb(255 255 255 / 54%),
      605px 1576px 0 0px rgb(255 255 255 / 48%),
      624px 590px 0 0px rgb(255 255 255 / 72%),
      1248px 91px 0 0px rgb(255 255 255 / 28%),
      500px 1156px 0 0px rgb(255 255 255 / 75%),
      977px 1616px 0 0px rgb(255 255 255 / 96%),
      742px 244px 0 0px rgb(255 255 255 / 46%),
      233px 925px 0 0px rgb(255 255 255 / 39%),
      1319px 1363px 0 0px rgb(255 255 255 / 63%),
      1347px 1576px 0 0px rgb(255 255 255 / 50%),
      59px 1529px 0 0px rgb(255 255 255 / 10%),
      208px 1369px 0 0px rgb(255 255 255 / 63%),
      33px 1216px 0 0px rgb(255 255 255 / 53%),
      88px 832px 0 0px rgb(255 255 255 / 18%),
      1760px 1647px 0 0px rgb(255 255 255 / 1%),
      148px 537px 0 0px rgb(255 255 255 / 66%),
      613px 431px 0 0px rgb(255 255 255 / 7%),
      342px 1758px 0 0px rgb(255 255 255 / 80%),
      483px 394px 0 0px rgb(255 255 255 / 92%),
      1385px 1731px 0 0px rgb(255 255 255 / 48%),
      1784px 837px 0 0px rgb(255 255 255 / 81%),
      950px 1321px 0 0px rgb(255 255 255 / 18%),
      4px 370px 0 0px rgb(255 255 255 / 16%),
      310px 1438px 0 0px rgb(255 255 255 / 13%),
      1255px 650px 0 0px rgb(255 255 255 / 34%),
      553px 231px 0 0px rgb(255 255 255 / 86%),
      1707px 1241px 0 0px rgb(255 255 255 / 82%),
      1034px 1540px 0 0px rgb(255 255 255 / 55%),
      709px 1182px 0 0px rgb(255 255 255 / 32%),
      549px 1226px 0 0px rgb(255 255 255 / 34%),
      1698px 1173px 0 0px rgb(255 255 255 / 84%),
      1574px 1009px 0 0px rgb(255 255 255 / 42%),
      838px 282px 0 0px rgb(255 255 255 / 67%),
      363px 491px 0 0px rgb(255 255 255 / 7%),
      935px 1501px 0 0px rgb(255 255 255 / 0%),
      1370px 349px 0 0px rgb(255 255 255 / 2%),
      1463px 505px 0 0px rgb(255 255 255 / 58%),
      998px 1438px 0 0px rgb(255 255 255 / 94%),
      1454px 1146px 0 0px rgb(255 255 255 / 4%),
      1407px 1275px 0 0px rgb(255 255 255 / 67%),
      1672px 1522px 0 0px rgb(255 255 255 / 13%),
      536px 115px 0 0px rgb(255 255 255 / 76%),
      153px 255px 0 0px rgb(255 255 255 / 80%),
      1741px 1357px 0 0px rgb(255 255 255 / 72%),
      1694px 1463px 0 0px rgb(255 255 255 / 42%),
      228px 918px 0 0px rgb(255 255 255 / 35%),
      876px 1340px 0 0px rgb(255 255 255 / 5%),
      1513px 1210px 0 0px rgb(255 255 255 / 69%),
      952px 1551px 0 0px rgb(255 255 255 / 20%),
      23px 1772px 0 0px rgb(255 255 255 / 67%),
      468px 1144px 0 0px rgb(255 255 255 / 89%),
      1470px 1578px 0 0px rgb(255 255 255 / 9%),
      106px 1578px 0 0px rgb(255 255 255 / 48%),
      651px 556px 0 0px rgb(255 255 255 / 15%),
      1361px 1092px 0 0px rgb(255 255 255 / 56%),
      1701px 1538px 0 0px rgb(255 255 255 / 20%),
      1358px 1695px 0 0px rgb(255 255 255 / 55%),
      918px 991px 0 0px rgb(255 255 255 / 23%),
      1259px 437px 0 0px rgb(255 255 255 / 47%),
      1004px 1712px 0 0px rgb(255 255 255 / 17%),
      1635px 1202px 0 0px rgb(255 255 255 / 56%),
      873px 1478px 0 0px rgb(255 255 255 / 70%),
      81px 1184px 0 0px rgb(255 255 255 / 22%),
      423px 895px 0 0px rgb(255 255 255 / 11%),
      1077px 1476px 0 0px rgb(255 255 255 / 100%),
      1308px 1790px 0 0px rgb(255 255 255 / 31%),
      133px 315px 0 0px rgb(255 255 255 / 57%),
      881px 777px 0 0px rgb(255 255 255 / 97%),
      552px 231px 0 0px rgb(255 255 255 / 63%),
      520px 986px 0 0px rgb(255 255 255 / 18%),
      1747px 192px 0 0px rgb(255 255 255 / 43%),
      1508px 1201px 0 0px rgb(255 255 255 / 1%),
      1614px 265px 0 0px rgb(255 255 255 / 42%),
      1215px 318px 0 0px rgb(255 255 255 / 86%),
      232px 107px 0 0px rgb(255 255 255 / 11%),
      768px 1732px 0 0px rgb(255 255 255 / 78%),
      1614px 389px 0 0px rgb(255 255 255 / 77%),
      459px 1763px 0 0px rgb(255 255 255 / 16%),
      1661px 1327px 0 0px rgb(255 255 255 / 22%),
      263px 1279px 0 0px rgb(255 255 255 / 31%),
      1562px 936px 0 0px rgb(255 255 255 / 53%),
      1305px 683px 0 0px rgb(255 255 255 / 24%),
      330px 1564px 0 0px rgb(255 255 255 / 61%),
      1726px 849px 0 0px rgb(255 255 255 / 55%),
      1584px 1284px 0 0px rgb(255 255 255 / 29%),
      1612px 1521px 0 0px rgb(255 255 255 / 65%),
      216px 31px 0 0px rgb(255 255 255 / 6%),
      1756px 1068px 0 0px rgb(255 255 255 / 23%),
      898px 1692px 0 0px rgb(255 255 255 / 39%),
      1792px 1758px 0 0px rgb(255 255 255 / 91%),
      1451px 1399px 0 0px rgb(255 255 255 / 59%),
      1557px 450px 0 0px rgb(255 255 255 / 62%),
      12px 159px 0 0px rgb(255 255 255 / 43%),
      872px 1601px 0 0px rgb(255 255 255 / 7%),
      1230px 1555px 0 0px rgb(255 255 255 / 4%),
      999px 1208px 0 0px rgb(255 255 255 / 43%),
      1518px 38px 0 0px rgb(255 255 255 / 78%),
      1001px 589px 0 0px rgb(255 255 255 / 43%),
      793px 367px 0 0px rgb(255 255 255 / 11%),
      362px 623px 0 0px rgb(255 255 255 / 80%),
      1594px 1277px 0 0px rgb(255 255 255 / 71%),
      846px 1720px 0 0px rgb(255 255 255 / 65%),
      546px 593px 0 0px rgb(255 255 255 / 48%),
      1339px 896px 0 0px rgb(255 255 255 / 38%),
      796px 333px 0 0px rgb(255 255 255 / 78%),
      1135px 1018px 0 0px rgb(255 255 255 / 44%),
      742px 1677px 0 0px rgb(255 255 255 / 84%),
      322px 623px 0 0px rgb(255 255 255 / 74%),
      1464px 993px 0 0px rgb(255 255 255 / 24%),
      643px 441px 0 0px rgb(255 255 255 / 85%),
      294px 930px 0 0px rgb(255 255 255 / 98%),
      1686px 299px 0 0px rgb(255 255 255 / 5%),
      740px 1668px 0 0px rgb(255 255 255 / 100%),
      1043px 1540px 0 0px rgb(255 255 255 / 93%),
      1738px 168px 0 0px rgb(255 255 255 / 93%),
      1189px 996px 0 0px rgb(255 255 255 / 23%),
      1149px 769px 0 0px rgb(255 255 255 / 79%),
      1236px 695px 0 0px rgb(255 255 255 / 73%),
      79px 1088px 0 0px rgb(255 255 255 / 87%),
      989px 220px 0 0px rgb(255 255 255 / 84%),
      444px 1601px 0 0px rgb(255 255 255 / 16%),
      913px 1260px 0 0px rgb(255 255 255 / 98%),
      717px 600px 0 0px rgb(255 255 255 / 78%),
      216px 477px 0 0px rgb(255 255 255 / 6%),
      377px 1235px 0 0px rgb(255 255 255 / 52%),
      111px 1521px 0 0px rgb(255 255 255 / 64%),
      1443px 6px 0 0px rgb(255 255 255 / 13%),
      385px 939px 0 0px rgb(255 255 255 / 61%),
      1399px 436px 0 0px rgb(255 255 255 / 69%),
      1727px 459px 0 0px rgb(255 255 255 / 20%),
      910px 1431px 0 0px rgb(255 255 255 / 48%),
      506px 1669px 0 0px rgb(255 255 255 / 14%),
      1655px 1546px 0 0px rgb(255 255 255 / 79%),
      1001px 1545px 0 0px rgb(255 255 255 / 77%),
      642px 571px 0 0px rgb(255 255 255 / 86%),
      1379px 1673px 0 0px rgb(255 255 255 / 27%),
      128px 1718px 0 0px rgb(255 255 255 / 3%),
      220px 1279px 0 0px rgb(255 255 255 / 77%),
      249px 164px 0 0px rgb(255 255 255 / 42%),
      286px 1587px 0 0px rgb(255 255 255 / 35%),
      1206px 1414px 0 0px rgb(255 255 255 / 86%),
      456px 1661px 0 0px rgb(255 255 255 / 19%),
      1670px 683px 0 0px rgb(255 255 255 / 77%),
      1404px 171px 0 0px rgb(255 255 255 / 33%),
      413px 881px 0 0px rgb(255 255 255 / 19%),
      872px 1158px 0 0px rgb(255 255 255 / 34%),
      1349px 186px 0 0px rgb(255 255 255 / 34%),
      1636px 1586px 0 0px rgb(255 255 255 / 89%),
      51px 1414px 0 0px rgb(255 255 255 / 37%),
      1284px 1167px 0 0px rgb(255 255 255 / 78%),
      97px 77px 0 0px rgb(255 255 255 / 74%),
      388px 311px 0 0px rgb(255 255 255 / 23%),
      1393px 1000px 0 0px rgb(255 255 255 / 1%),
      799px 195px 0 0px rgb(255 255 255 / 46%),
      251px 323px 0 0px rgb(255 255 255 / 20%),
      230px 301px 0 0px rgb(255 255 255 / 42%),
      967px 956px 0 0px rgb(255 255 255 / 82%),
      622px 1273px 0 0px rgb(255 255 255 / 94%),
      1198px 1228px 0 0px rgb(255 255 255 / 18%),
      823px 1079px 0 0px rgb(255 255 255 / 78%),
      10px 1168px 0 0px rgb(255 255 255 / 3%),
      168px 587px 0 0px rgb(255 255 255 / 76%),
      988px 1107px 0 0px rgb(255 255 255 / 60%),
      652px 178px 0 0px rgb(255 255 255 / 65%),
      1344px 72px 0 0px rgb(255 255 255 / 91%),
      263px 649px 0 0px rgb(255 255 255 / 54%),
      207px 65px 0 0px rgb(255 255 255 / 9%),
      67px 8px 0 0px rgb(255 255 255 / 88%),
      1549px 1319px 0 0px rgb(255 255 255 / 52%),
      844px 268px 0 0px rgb(255 255 255 / 22%),
      1595px 1059px 0 0px rgb(255 255 255 / 46%),
      1393px 1246px 0 0px rgb(255 255 255 / 14%),
      758px 239px 0 0px rgb(255 255 255 / 60%),
      123px 383px 0 0px rgb(255 255 255 / 3%),
      36px 74px 0 0px rgb(255 255 255 / 65%),
      1643px 380px 0 0px rgb(255 255 255 / 21%),
      170px 1017px 0 0px rgb(255 255 255 / 79%),
      301px 1401px 0 0px rgb(255 255 255 / 16%),
      21px 575px 0 0px rgb(255 255 255 / 44%),
      738px 381px 0 0px rgb(255 255 255 / 34%),
      19px 192px 0 0px rgb(255 255 255 / 79%),
      1765px 568px 0 0px rgb(255 255 255 / 87%),
      919px 1410px 0 0px rgb(255 255 255 / 75%),
      49px 1294px 0 0px rgb(255 255 255 / 64%),
      1637px 132px 0 0px rgb(255 255 255 / 18%),
      1413px 818px 0 0px rgb(255 255 255 / 58%),
      1279px 1234px 0 0px rgb(255 255 255 / 3%),
      429px 780px 0 0px rgb(255 255 255 / 20%),
      256px 431px 0 0px rgb(255 255 255 / 100%),
      921px 1453px 0 0px rgb(255 255 255 / 42%),
      31px 896px 0 0px rgb(255 255 255 / 34%),
      5px 971px 0 0px rgb(255 255 255 / 61%),
      251px 580px 0 0px rgb(255 255 255 / 55%),
      452px 707px 0 0px rgb(255 255 255 / 48%),
      839px 1654px 0 0px rgb(255 255 255 / 58%),
      1656px 1606px 0 0px rgb(255 255 255 / 99%),
      1719px 491px 0 0px rgb(255 255 255 / 43%),
      1600px 95px 0 0px rgb(255 255 255 / 14%),
      1615px 291px 0 0px rgb(255 255 255 / 15%),
      41px 914px 0 0px rgb(255 255 255 / 26%),
      171px 1139px 0 0px rgb(255 255 255 / 54%),
      606px 1579px 0 0px rgb(255 255 255 / 74%),
      1559px 1133px 0 0px rgb(255 255 255 / 65%),
      1394px 1530px 0 0px rgb(255 255 255 / 80%),
      1712px 1028px 0 0px rgb(255 255 255 / 98%),
      1465px 1374px 0 0px rgb(255 255 255 / 55%),
      257px 1511px 0 0px rgb(255 255 255 / 26%),
      1074px 976px 0 0px rgb(255 255 255 / 77%),
      1183px 868px 0 0px rgb(255 255 255 / 38%),
      1672px 421px 0 0px rgb(255 255 255 / 51%),
      55px 195px 0 0px rgb(255 255 255 / 82%),
      952px 1710px 0 0px rgb(255 255 255 / 57%),
      711px 1694px 0 0px rgb(255 255 255 / 25%),
      1277px 836px 0 0px rgb(255 255 255 / 52%),
      1638px 1082px 0 0px rgb(255 255 255 / 28%),
      175px 1539px 0 0px rgb(255 255 255 / 12%),
      638px 274px 0 0px rgb(255 255 255 / 73%),
      1029px 206px 0 0px rgb(255 255 255 / 1%),
      1489px 95px 0 0px rgb(255 255 255 / 70%),
      922px 1335px 0 0px rgb(255 255 255 / 39%),
      1348px 1615px 0 0px rgb(255 255 255 / 84%),
      1745px 500px 0 0px rgb(255 255 255 / 40%),
      766px 889px 0 0px rgb(255 255 255 / 36%),
      1246px 1097px 0 0px rgb(255 255 255 / 51%),
      1477px 1010px 0 0px rgb(255 255 255 / 90%),
      1138px 1382px 0 0px rgb(255 255 255 / 99%),
      507px 951px 0 0px rgb(255 255 255 / 21%),
      1775px 1009px 0 0px rgb(255 255 255 / 81%),
      1032px 1408px 0 0px rgb(255 255 255 / 83%),
      1180px 248px 0 0px rgb(255 255 255 / 71%),
      1717px 1424px 0 0px rgb(255 255 255 / 98%),
      1511px 1319px 0 0px rgb(255 255 255 / 22%),
      448px 446px 0 0px rgb(255 255 255 / 29%),
      1511px 1519px 0 0px rgb(255 255 255 / 76%),
      990px 157px 0 0px rgb(255 255 255 / 7%),
      811px 1587px 0 0px rgb(255 255 255 / 13%),
      36px 633px 0 0px rgb(255 255 255 / 89%),
      915px 459px 0 0px rgb(255 255 255 / 60%),
      1151px 1296px 0 0px rgb(255 255 255 / 52%),
      74px 627px 0 0px rgb(255 255 255 / 2%),
      737px 73px 0 0px rgb(255 255 255 / 61%),
      922px 1497px 0 0px rgb(255 255 255 / 65%),
      1266px 858px 0 0px rgb(255 255 255 / 76%),
      822px 295px 0 0px rgb(255 255 255 / 2%),
      791px 1772px 0 0px rgb(255 255 255 / 87%),
      992px 486px 0 0px rgb(255 255 255 / 65%),
      168px 1428px 0 0px rgb(255 255 255 / 45%),
      110px 811px 0 0px rgb(255 255 255 / 43%),
      928px 1479px 0 0px rgb(255 255 255 / 29%),
      1745px 154px 0 0px rgb(255 255 255 / 72%),
      280px 842px 0 0px rgb(255 255 255 / 46%),
      437px 1158px 0 0px rgb(255 255 255 / 83%),
      1101px 169px 0 0px rgb(255 255 255 / 83%),
      304px 576px 0 0px rgb(255 255 255 / 56%),
      1721px 1083px 0 0px rgb(255 255 255 / 36%),
      1545px 1524px 0 0px rgb(255 255 255 / 52%),
      420px 976px 0 0px rgb(255 255 255 / 69%),
      1649px 135px 0 0px rgb(255 255 255 / 67%),
      1251px 219px 0 0px rgb(255 255 255 / 66%),
      436px 989px 0 0px rgb(255 255 255 / 41%),
      430px 252px 0 0px rgb(255 255 255 / 57%),
      1403px 304px 0 0px rgb(255 255 255 / 8%),
      235px 560px 0 0px rgb(255 255 255 / 91%),
      1048px 1707px 0 0px rgb(255 255 255 / 30%),
      1570px 1668px 0 0px rgb(255 255 255 / 86%),
      246px 1474px 0 0px rgb(255 255 255 / 52%),
      1174px 99px 0 0px rgb(255 255 255 / 68%),
      1307px 1372px 0 0px rgb(255 255 255 / 30%),
      89px 142px 0 0px rgb(255 255 255 / 26%),
      983px 1282px 0 0px rgb(255 255 255 / 90%),
      619px 35px 0 0px rgb(255 255 255 / 92%),
      76px 70px 0 0px rgb(255 255 255 / 59%),
      497px 1468px 0 0px rgb(255 255 255 / 67%),
      179px 471px 0 0px rgb(255 255 255 / 14%),
      1326px 1396px 0 0px rgb(255 255 255 / 91%),
      449px 471px 0 0px rgb(255 255 255 / 85%),
      728px 602px 0 0px rgb(255 255 255 / 77%),
      342px 85px 0 0px rgb(255 255 255 / 59%),
      697px 1017px 0 0px rgb(255 255 255 / 70%),
      949px 888px 0 0px rgb(255 255 255 / 12%),
      1380px 367px 0 0px rgb(255 255 255 / 38%),
      659px 184px 0 0px rgb(255 255 255 / 32%),
      193px 128px 0 0px rgb(255 255 255 / 24%),
      1727px 642px 0 0px rgb(255 255 255 / 36%),
      1675px 549px 0 0px rgb(255 255 255 / 36%),
      17px 947px 0 0px rgb(255 255 255 / 91%),
      666px 120px 0 0px rgb(255 255 255 / 88%),
      662px 1393px 0 0px rgb(255 255 255 / 13%),
      296px 317px 0 0px rgb(255 255 255 / 1%),
      1794px 339px 0 0px rgb(255 255 255 / 79%),
      1487px 1783px 0 0px rgb(255 255 255 / 31%),
      1171px 915px 0 0px rgb(255 255 255 / 32%),
      1364px 1386px 0 0px rgb(255 255 255 / 97%),
      147px 1278px 0 0px rgb(255 255 255 / 95%),
      1156px 677px 0 0px rgb(255 255 255 / 22%),
      111px 775px 0 0px rgb(255 255 255 / 4%),
      1014px 246px 0 0px rgb(255 255 255 / 31%),
      1185px 1081px 0 0px rgb(255 255 255 / 51%),
      1711px 1213px 0 0px rgb(255 255 255 / 41%),
      1640px 256px 0 0px rgb(255 255 255 / 48%),
      967px 1px 0 0px rgb(255 255 255 / 83%),
      472px 649px 0 0px rgb(255 255 255 / 28%),
      744px 893px 0 0px rgb(255 255 255 / 62%),
      1538px 472px 0 0px rgb(255 255 255 / 16%),
      1685px 564px 0 0px rgb(255 255 255 / 98%),
      979px 832px 0 0px rgb(255 255 255 / 95%),
      851px 1417px 0 0px rgb(255 255 255 / 38%),
      170px 1504px 0 0px rgb(255 255 255 / 36%),
      1692px 1419px 0 0px rgb(255 255 255 / 59%),
      1433px 1320px 0 0px rgb(255 255 255 / 46%),
      1724px 696px 0 0px rgb(255 255 255 / 56%),
      609px 1000px 0 0px rgb(255 255 255 / 20%),
      1400px 790px 0 0px rgb(255 255 255 / 16%),
      356px 1529px 0 0px rgb(255 255 255 / 35%),
      943px 687px 0 0px rgb(255 255 255 / 97%),
      127px 741px 0 0px rgb(255 255 255 / 15%),
      721px 1036px 0 0px rgb(255 255 255 / 92%),
      1660px 58px 0 0px rgb(255 255 255 / 98%),
      646px 1472px 0 0px rgb(255 255 255 / 31%),
      739px 133px 0 0px rgb(255 255 255 / 93%);
}
