:root {
   /* --max-circuit-size: 3200px; */
   --real-au: 152.1px;
   --neptune-real-circuit-size: 8951px; /* million km */

   --au: calc(var(--real-au) * 7);

   --mercury-circuit-size: calc(var(--au) * 0.4); /* million km */
   --venus-circuit-size: calc(var(--au) * 0.7); /* million km */
   --earth-circuit-size: var(--au); /* million km */
   --mars-circuit-size: calc(var(--au) * 1.5); /* million km */
   --jupiter-circuit-size: calc(var(--au) * 5.2); /* million km */
   --saturn-circuit-size: calc(var(--au) * 9.5); /* million km */
   --uranus-circuit-size: calc(var(--au) * 19.2); /* million km */
   --neptune-circuit-size: calc(var(--au) * 30.1);

   --speed: 0.1s;

   --mercury-orbit-duration: calc(115.88 * var(--speed));
   --venus-orbit-duration: calc(224.7 * var(--speed));
   --earth-orbit-duration: calc(365.25 * var(--speed));
   --mars-orbit-duration: calc(779.96 * var(--speed));
   --jupiter-orbit-duration: calc(398.88 * var(--speed));
   --saturn-orbit-duration: calc(378.09 * var(--speed));
   --uranus-orbit-duration: calc(369.66 * var(--speed));
   --neptune-orbit-duration: calc(367.49 * var(--speed));

   --planets-magnifier: 5000;
   --sun-magnifier: 500;

   --sun-size: calc(0.696px * var(--sun-magnifier));
   --sun-color: #f5ea6f;

   --neptune-size: 30px;
   --neptune-color: #3347b4;

   --uranus-size: 40px;
   --uranus-color: #c6ecf0;

   --saturn-size: 40px;
   --saturn-color: #e1be78;

   --jupiter-size: 60px;
   --jupiter-color: #ab8b74;

   --mars-size: calc(0.00678px * var(--planets-magnifier));
   --mars-color: #f4845e;

   --earth-size: calc(0.012742px * var(--planets-magnifier));
   --earth-color: #4fa2f5;

   --venus-size: calc(0.0121px * var(--planets-magnifier));
   --venus-color: #edd7bf;

   --mercury-size: calc(0.00976px * var(--planets-magnifier));
   --mercury-color: #737077;
}

@keyframes orbit {
   from {
      transform: translate(-50%, -50%) rotate(0);
   }
   to {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

body {
   background-color: #00001a;
}

.sun {
   background-color: var(--sun-color);
   width: var(--sun-size);
   height: var(--sun-size);
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 15px 5px yellow;
}

.circuit {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 1px solid transparent;
   border-radius: 50%;
   animation-name: orbit;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.circuit::before {
   content: '';
   border-radius: 50%;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.neptune {
   width: var(--neptune-circuit-size);
   height: var(--neptune-circuit-size);
   animation-duration: var(--neptune-orbit-duration);
}

.neptune::before {
   background-color: var(--neptune-color);
   width: var(--neptune-size);
   height: var(--neptune-size);
   top: calc(var(--neptune-size) / -2);
}

.uranus {
   width: var(--uranus-circuit-size);
   height: var(--uranus-circuit-size);
   animation-duration: var(--uranus-orbit-duration);
}

.uranus::before {
   background-color: var(--uranus-color);
   width: var(--uranus-size);
   height: var(--uranus-size);
   top: calc(var(--uranus-size) / -2);
}

.saturn {
   width: var(--saturn-circuit-size);
   height: var(--saturn-circuit-size);
   animation-duration: var(--saturn-orbit-duration);
}

.saturn::before {
   background-color: var(--saturn-color);
   width: var(--saturn-size);
   height: var(--saturn-size);
   top: calc(var(--saturn-size) / -2);
}

.jupiter {
   width: var(--jupiter-circuit-size);
   height: var(--jupiter-circuit-size);
   animation-duration: var(--jupiter-orbit-duration);
}

.jupiter::before {
   background-color: var(--jupiter-color);
   width: var(--jupiter-size);
   height: var(--jupiter-size);
   top: calc(var(--jupiter-size) / -2);
}

.mars {
   width: var(--mars-circuit-size);
   height: var(--mars-circuit-size);
   animation-duration: var(--mars-orbit-duration);
}

.mars::before {
   background-color: var(--mars-color);
   width: var(--mars-size);
   height: var(--mars-size);
   top: calc(var(--mars-size) / -2);
}

.earth {
   width: var(--earth-circuit-size);
   height: var(--earth-circuit-size);
   animation-duration: var(--earth-orbit-duration);
}

.earth::before {
   background-color: var(--earth-color);
   width: var(--earth-size);
   height: var(--earth-size);
   top: calc(var(--earth-size) / -2);
}

.venus {
   width: var(--venus-circuit-size);
   height: var(--venus-circuit-size);
   animation-duration: var(--venus-orbit-duration);
}

.venus::before {
   background-color: var(--venus-color);
   width: var(--venus-size);
   height: var(--venus-size);
   top: calc(var(--venus-size) / -2);
}

.mercury {
   width: var(--mercury-circuit-size);
   height: var(--mercury-circuit-size);
   animation-duration: var(--mercury-orbit-duration);
}

.mercury::before {
   background-color: var(--mercury-color);
   width: var(--mercury-size);
   height: var(--mercury-size);
   top: calc(var(--mercury-size) / -2);
}
